body {
  background-color: rgb(229, 237, 253);
  display: flex;
  flex-direction: row;  
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
}
h1{
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  padding-left: 5px;
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
}
strong {
  font-weight: lighter;
}
em{
  font-style: normal;
}
.dateBold{
  font-weight: bold;
  padding: 10px;
}
.thirdContainer {
  /*background: rgb(242, 250, 241);*/
  background: rgb(229, 237, 253);
  max-width: 35%;
  margin-top: 10px;
  border-left: rgb(33, 126, 33) solid 10px;
}
.secondContainer {
  /*background: rgb(166, 241, 216);*/
  max-width: 65%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-left: rgb(130, 130, 241) solid 10px;
}
.experiences {
  background: rgb(255, 253, 253);
  max-width: 100%;
  /*border: black solid 1px;*/
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: rgb(222, 222, 243) 4px 4px 8px;
}
p{
  padding-left: 10px;
  padding-right: 10px;
}
.divers {
  background: rgb(251, 253, 251);
  max-width: 100%;
  /*border: black solid 1px;*/
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: rgb(222, 243, 234) 4px 4px 8px;
} 
.divers2 {
  background: rgb(213, 226, 248);;
  /*border: solid 2px rgb(162, 184, 243);*/
  border-radius: 8px;
  margin: 20px 10px 20px 30px;
  padding-bottom: 20px;
  box-shadow: rgb(189, 238, 189) 4px 4px 8px;
}
.name{
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
.photoMoi{
  height: 200px;
  width: 200px;
  margin: 5%;
  padding-left: 22%;
  padding-top: 5%;
}
.contactContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Logo{
  width: 6%;
  height: 6%;
  margin-left: 2%;
}
.email{
  width: 6%;
  height: 6%;
  margin-left: 2%;
  margin-top: 2%;
}
.adress{
  margin-top: -4%;
  margin-left: 10%;
}
.phone{
  margin-top: -4%;
  margin-left: 10%;
}
.mail{
  margin-top: -12%;
  margin-left: 3%;
}
@media screen and (max-width: 1100px){
  .photoMoi{
    height: 90px;
    width: 90px;
    margin: 5%;
    padding-left: 22%;
    padding-top: 5%;
  }
  .lunguages{
    font-size: 0.8em;
  }
  .flag{
    margin-left: 30%;
  }
  .skill {
    margin-top: 20%;
  }
  .skill2{
    margin-top: 40%;
  }
}
@media screen and (max-width: 700px){
  .mail{
    font-size: 0.5em;
  }
  .photoMoi{
    height: 80px;
    width: 80px;
    margin: 5%;
    padding-left: 22%;
    padding-top: 5%;
  }
  .skill {
    margin-top: 35%;
  }
  .skill2{
    margin-top: 70%;
  }
}
.lunguages{
  display: inline;
  margin-left: 1%;
  margin-top: -2%;
}
.container {
  background-color: rgb(192, 192, 192);
  width: 40%;
  border-radius: 5px;
  margin-left: 33%;
  margin-top: -18px;
}
.flag{
  margin-top: 2%;
  max-width: 30px;
  max-height: 30px;
}
.skill {
  background-color: rgb(144, 190, 130);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 10px;
  border-radius: 5px;
}
.container2 {
  background-color: rgb(192, 192, 192);
  width: 20%;
  border-radius: 5px;
  margin-left: 33%;
  margin-top: -18px;
}
  
.skill2 {
  background-color: rgb(144, 190, 130);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 10px;
  border-radius: 5px;
}